{{ template "page/head_start" .}}
{{ template "page/head_end" .}}

{{ template "page/body_start" .}}
<a-layout id="app" v-cloak :class="themeSwitcher.currentTheme + ' api-docs-page'">
  <a-sidebar></a-sidebar>
  <a-layout id="content-layout">
    <a-layout-content>
      <a-card :title='{{ i18n "pages.apiDocs.title"}}'>
        <a-alert type="info" show-icon :style="{ marginBottom: '16px' }"
          :message='{{ i18n "pages.apiDocs.authTitle"}}'
          :description='{{ i18n "pages.apiDocs.authDesc"}}'>
        </a-alert>

        <a-collapse accordion>
          <a-collapse-panel v-for="section in sections" :key="section.title" :header="section.title">
            <a-list :data-source="section.items" item-layout="vertical" :render-item="renderItem">
              <template #renderItem="{ item }">
                <a-list-item>
                  <a-tag color="blue">[[ item.method ]]</a-tag>
                  <code class="path">[[ item.path ]]</code>
                  <div class="desc">[[ item.desc ]]</div>
                  <a-space direction="vertical" :style="{ width: '100%' }">
                    <div v-if="item.headers && item.headers.length">
                      <b>{{ i18n "pages.apiDocs.headers" }}:</b>
                      <a-list :data-source="item.headers" size="small">
                        <a-list-item v-for="h in item.headers" :key="h">{{ h }}</a-list-item>
                      </a-list>
                    </div>
                    <div v-if="item.query && item.query.length">
                      <b>{{ i18n "pages.apiDocs.query" }}:</b>
                      <a-list :data-source="item.query" size="small">
                        <a-list-item v-for="q in item.query" :key="q">{{ q }}</a-list-item>
                      </a-list>
                    </div>
                    <div v-if="item.body">
                      <b>{{ i18n "pages.apiDocs.body" }}:</b>
                      <pre class="code-block">[[ item.body ]]</pre>
                    </div>
                    <div v-if="item.example">
                      <b>{{ i18n "pages.apiDocs.example" }}:</b>
                      <pre class="code-block">[[ item.example ]]</pre>
                    </div>
                  </a-space>
                </a-list-item>
              </template>
            </a-list>
          </a-collapse-panel>
        </a-collapse>
      </a-card>
    </a-layout-content>
  </a-layout>
</a-layout>
{{template "page/body_scripts" .}}
<script src="{{ .base_path }}assets/js/pages/api-docs.js?{{ .cur_ver }}"></script>
{{template "component/aSidebar" .}}
{{template "component/aThemeSwitch" .}}
<style>
  .api-docs-page code.path { font-size: 12px; }
  .api-docs-page .code-block {
    background: #0f172a;
    color: #e2e8f0;
    padding: 8px;
    border-radius: 6px;
    white-space: pre-wrap;
  }
  .api-docs-page .desc { margin: 6px 0 10px 0; }
</style>
<script>
  const app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    mixins: [ApiDocsMixin],
    data: {
      themeSwitcher,
    },
  });
</script>
{{ template "page/body_end" .}}
